body.light {
  background-color: #f8f9fa;
  color: #212529;
}
body.light .navbar {
  background-color: #ffffff !important;
}

body.dark {
  background-color: #121212;
  color: #f1f1f1;
}
body.dark .navbar {
  background-color: #1f1f1f !important;
}
body.dark .btn {
  color: #198754 !important;
  background-color: #212020;
  border-color: #888;
}
body.dark .btn:hover {
  background-color: #444;
  color: #fff;
  border-color: #aaa;
}

body.minimal {
  background-color: #ffffff;
  color: #111;
}
body.minimal .navbar {
  background: none !important;
  box-shadow: none !important;
}
